{% extends 'google/base.html' %}
{% block content %}


  
<div class="pageholder">
    <div class="titleholder"> 
        <div class="title"><i class="fas fa-map-marker-alt mr-2"></i> Home page of our Google Maps API app </div>
    </div>

    <div class="linkholder">
        <div class="linkbox"> 
            <a href="{% url 'geocode'%}"> <i class="fas fa-compass mr-2"></i> Google Maps #1: Geocoding </a>
        </div>
        <div class="linkbox"> 
            Next tutorial...
        </div>
        <div class="linkbox"> 
            Next tutorial...
        </div>

       
    </div>
</div>
{% endblock %}
