
{% extends 'google/base.html' %}
{% block content %}
{% load static %}

<script>

    $(document).ready(function(){
        $.ajax({
            url: "{% url 'mydata'%}",
            method: 'GET',
            success: function (data) {
                console.log(data);
                initMap(data);
            }
      });
    });

    function initMap(data) {
       const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: 51.5944418, lng: 4.7492914}
       });
       const markers = data?.map((i) => {
            const marker = new google.maps.Marker({
                position: { lat: parseFloat(i.latitude), lng: parseFloat(i.longitude)},
                map: map,
            })
        });

     }
  </script>


<div class="pageholder">
    <div class="titleholder"> 
        <div class="title"><i class="fas fa-compass mr-2"></i> Google Maps #4: Markers on a map </div>
        <a href="{% url 'home'%}" class="title2 mr-4"><i class="fas fa-home mr-2"></i> Back to home </a>
    </div>

    <div class="linkholder">
        <div class="mapholder">
            <div id="map"></div>
            <script
            src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly"
            defer
            ></script>
        </div>
    </div>
</div>



{% endblock content %}